.site-header {
  @apply sticky top-6 w-full px-6 mb-6;
}

.site-header .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start
  @apply w-full bg-white bg-opacity-60 border-opacity-40 m-auto max-w-5xl rounded-xl;
  @apply backdrop-blur-lg
}

.logo {
  @apply flex gap-2 items-center p-2
}

.logo:hover {
  color: #2463EB
}
